<div class="w-1/2 mx-auto flex flex-col gap-4 items-center content-center">
    <div class="flex flex-col items-center gap-4 p-8">
        <form class="flex flex-col gap-4" [formGroup]="updateForm" (ngSubmit)="onClickUpdate()">
            <div class="form-element">
                <label for="username-input">ユーザ名</label>
                <input type="text" name="username" id="username-input" autocomplete="off" formControlName="username">
            </div>
            <div class="form-element">
                <label for="password-input">パスワード</label>
                <input type="password" name="password" id="password-input" autocomplete="off"
                    formControlName="password">
            </div>
            <div class="form-element">
                <label for="private-input">鍵アカウント</label>
                <input type="checkbox" name="private" id="private-input" autocomplete="off" formControlName="private">
            </div>
            <div class="submit-buttons">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 disabled:bg-blue-300 rounded-md text-white font-bold px-4 py-2">更新する</button>
            </div>
        </form>
    </div>
</div>